In [37]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression 
from sklearn import metrics
import math
from sklearn import linear_model

In [38]:
df1 = pd.read_excel('Dataset_Hackathon.xlsx')
df1.head()

,Country,Commodity,Flow,Quantity,Category,Volume (m^3),Distance from India (m),Frieght Cost (USD)
0,Albania,"Poultry cuts & offal, except livers, fresh or ...",Export,34,02_meat_and_edible_meat_offal,12,5940.830501,4840.697837
1,Albania,"Poultry cuts & offal, except livers, fresh or ...",Export,23,02_meat_and_edible_meat_offal,12,5940.830501,3069.710823
2,Albania,"Swine meat, salted/dried/smoked not ham/should...",Export,11,02_meat_and_edible_meat_offal,12,5940.830501,1475.822511
3,Albania,"Fowls, domestic, whole, frozen",Export,50,02_meat_and_edible_meat_offal,12,5940.830501,7083.948054
4,Albania,"Meat and edible offal nes fresh, chilled or fr...",Export,71,02_meat_and_edible_meat_offal,12,5940.830501,9976.560176

In [39]:
X1 = df1.drop(['Country', 'Commodity','Flow','Category'], axis = 1)
X1.head()

   Quantity  Volume (m^3)  Distance from India (m)  Frieght Cost (USD)
0        34            12              5940.830501         4840.697837
1        23            12              5940.830501         3069.710823
2        11            12              5940.830501         1475.822511
3        50            12              5940.830501         7083.948054
4        71            12              5940.830501         9976.560176

In [42]:
pip install xgboost

Collecting xgboost
  Downloading xgboost-1.7.3-py3-none-macosx_12_0_arm64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 1.8 MB/s eta 0:00:00 MB/s eta 0:00:01:01
Requirement already satisfied: scipy in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from xgboost) (1.10.0)
Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from xgboost) (1.24.1)
Installing collected packages: xgboost
Successfully installed xgboost-1.7.3
Note: you may need to restart the kernel to use updated packages.

In [41]:
X = X1.drop("Frieght Cost (USD)", axis="columns")
Y = X1["Frieght Cost (USD)"]
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.4)
import xgboost as xgb
mymodel = xgb.XGBRegressor(verbosity=0)
# mymodel = linear_model.LinearRegression()
mymodel.fit(X_train, Y_train)

SyntaxError: invalid syntax (441093844.py, line 3)

In [ ]:
y = df1['Frieght Cost (USD)']

lr = LinearRegression() 
lr.fit(X, y)  
pred = lr.predict(X)

In [ ]:
mymodel.intercept_

In [ ]:
mymodel.coef_

In [ ]:
mymodel.predict(X_test)

In [ ]:
Y_test

In [ ]:
mymodel.score(X_test,Y_test)

In [ ]:
y_pred = mymodel.predict(X_test)

In [32]:
mymodel.predict([[34,12,5940.83050148322]])

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([4964.89395037])

In [20]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y, pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y, pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y, pred)))
print('R2:', np.sqrt(metrics.r2_score(y, pred)))

Mean Absolute Error: 1833.6548492131853
Mean Squared Error: 7721884.407813215
Root Mean Squared Error: 2778.827883805187
R2: 0.8378613371603065

In [21]:
features = [[34,12,5940.83]]
print('The predicted price:', lr.predict(features)[0])

The predicted price: 4980.03571976234

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [12]:
from joblib import dump
dump(lr,'./../Savedmodels/model.joblib')

['./../Savedmodels/model.joblib']